Repository daneoshiga/dw_quote_bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pipenv-check, check-datetime-now

.pre-commit-config.yaml:

repos:
- repo: git@github.com:pre-commit/pre-commit-hooks
  rev: v2.2.3
  hooks:
  - id: debug-statements
  - id: check-merge-conflict
  - id: check-executables-have-shebangs
  - id: check-ast
  - id: check-byte-order-marker
  - id: check-json
  - id: check-symlinks
  - id: check-vcs-permalinks
  - id: check-xml
  - id: check-yaml
  - id: detect-private-key
  - id: forbid-new-submodules
  - id: flake8
    args: ['--exclude=docs/*,*migrations*', '--ignore=E501']

- repo: local
  hooks:
  - id: pipenv-check
    name: Pipenv Check
    entry: pipenv check
    language: system
    files: Pipfile
    verbose: false
    pass_filenames: false

  - id: check-datetime-now
    name: check_datetime_now
    description: Prefer datetime.utcnow()
    language: pygrep
    entry: 'datetime\.now\(\)'
    types: [python]

- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.20
  hooks:
  - id: isort
- repo: https://github.com/python/black
  rev: stable
  hooks:
    - id: black

- repo: git@github.com:olist/hulks.git
  rev: 0.4.0
  hooks:
  - id: check-filename
  - id: check-invalid-domains
  - id: check-logger
  - id: check-mutable-defaults

Detect charset with chardet
  parser.py
Due: check-datetime-now

Use csv instead of json
  dw_quote/bot.py
  parser.py
Due: check-datetime-now

add newline parameter to avoid \r\n
  dw_quote/bot.py
  parser.py
Due: check-datetime-now

Use unix dialect to write csv
  parser.py
Due: check-datetime-now

Upgrade dependencies
  Pipfile
  Pipfile.lock
Due: pipenv-check

Update Readme
  Readme.md
Due: none

Add inline characters quote search
  dw_quote/bot.py
  parser.py
Due: check-datetime-now

Consider empty query
  dw_quote/bot.py
Due: check-datetime-now

Names is better than characters
  dw_quote/bot.py
Due: check-datetime-now

Add Readme
  Readme.md
Due: none

Upgrade dependencies
  Pipfile.lock
Due: pipenv-check

More enphasis on commands
  Readme.md
Due: none

Remove not used variable
  parser.py
Due: check-datetime-now

Add source link
  Readme.md
Due: none

Add source file for bot pfp
  dw_quotes.xcf
Due: none

Replace pipfile with pip-tools
  .pre-commit-config.yaml
  Makefile
  Pipfile
  Pipfile.lock
  pyproject.toml
  requirements.txt
  requirements/dev.txt
  requirements/parse.in
  requirements/parse.txt
  requirements/prod.in
  requirements/prod.txt
  runtime.txt
Due: pipenv-check

Use pydantic settings
  dw_quote/bot.py
  dw_quote/settings.py
Due: check-datetime-now

Add wsgi compatibility layer
  dw_quote/bot.py
  dw_quote/settings.py
  dw_quote/web.py
  passenger_wsgi.py
Due: check-datetime-now

Upgrade pre-commit hooks
  .pre-commit-config.yaml
Due: none

Upgrade dependencies
  requirements/prod.txt
Due: none

Apply pre-commit hooks
  dw_quote/settings.py
  dw_quote/web.py
  passenger_wsgi.py
Due: check-datetime-now

Remove cache_time to use default value (5m)
  dw_quote/bot.py
Due: check-datetime-now

Fix AttributeError
  dw_quote/web.py
  passenger_wsgi.py
Due: check-datetime-now

Add respond_via_request from aiogram
  dw_quote/web.py
Due: check-datetime-now
